/* Color Palette */
$primary-color: gold;
$secondary-color: purple;

body {
    background: blue;
}

h1 {
    color: $secondary-color;
    text-transform: uppercase;
}

video {
    display: block;
    max-width: 100%;
    width: 100%;
}